{% extends 'base.html.twig' %}

{% block body %}
    <h1> Add a category </h1>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    {{ form_errors(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Add category">
    {{ form_end(form) }}
{% endblock %}